@model AddUserViewModel
@{
    ViewData["Title"] = "AddUser";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>Kullanıcı Ekleme Formu</h1>
<div class="content-page">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">

            <div class="row">
                <div class="col-12">
                    <div class="card-box">

                        <div class="row">
                            <div class="col-lg-6">

                                <h4 class="header-title">Yeni Kullanıcı Ekleme</h4>

                                <div class="p-4">
                                    <form asp-controller="User" asp-action="AddUser" method="post" data-parsley-validate novalidate>
                                        <div class="form-group">
                                            <label asp-for="@Model.name">Ad</label>
                                            <input asp-for="@Model.name" type="text" name="name" parsley-trigger="change" required placeholder="Adı" class="form-control" id="name">
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="@Model.surname">Soyad</label>
                                            <input asp-for="@Model.surname" type="text" name="surname" parsley-trigger="change" required placeholder="Soyad" class="form-control" id="surname">
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="@Model.mail">Mail Adresi</label>
                                            <input asp-for="@Model.mail" type="email" name="mail" parsley-trigger="change" required placeholder="Mail Adresi" class="form-control" id="mail">
                                        </div>

                                        <div class="form-group">
                                            <label asp-for="@Model.username">Kullanıcı Adı</label>
                                            <input asp-for="@Model.username" type="text" name="username" parsley-trigger="change" required placeholder="Kullanıcı Adı" class="form-control" id="username">
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="@Model.phone">Telefon Numarası</label>
                                            <input asp-for="@Model.phone" type="text" name="phone" parsley-trigger="change" required placeholder="Telefon Numarası" class="form-control" id="phone">
                                        </div>
                                        <div class="form-group">
                                            <input class="form-control" asp-for="@Model.password" type="password" id="password" placeholder="Geçici Şifre" required>
                                        </div>



                                        <div class="form-group account-btn text-center mt-2">
                                            <div class="col-12">
                                                <button class="btn width-md btn-bordered btn-danger waves-effect waves-light" type="submit">Yeni Kullanıcı Ekle</button>
                                            </div>
                                        </div>

                                    </form>

                                </div>
                                <a asp-controller="User" asp-action="GetUser" class="btn btn-outline-orange btn-rounded waves-light waves-effect width-md"> Kullanıcı Listesine Geri Dön</a>


                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


